
<div>
<% posts.forEach(post => { %>
  <% if (post.id % 2 === 0) { %>
    <div id="posts">
      <div class="titlePost">
        <p><%= post.titulo %></p>
      </div>
      <div class="textPost">
        <p><%- post.conteudo %></p>
        <div class="date">
          <p><%= post.nome %><br><%= post.data %></p>
        </div>
      </div>
    </div>
    <br>
  <% } else  { %>
    <div id="posts" class="right">
      <div class="titlePost">
        <p><%= post.titulo %></p>
      </div>
      <div class="textPost">
        <p><%= post.conteudo %></p>
        <div class="date">
          <p><%= post.nome %><br><%= post.data %></p>
        </div>
      </div>
    </div><br>
  </div><br>
  <% } %>
<% }); %>

</div>

<style>
  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  #posts{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    transition: 0.5s;
  }

  #posts:hover{
    width: 50%;
    height: 10%;
    font-size: 75%;
  }
  .textPost{
    word-wrap: break-word;
  }

  .titlePost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
  }


  .titlePost p{
    font-weight: bold;
    font-size: 18px;
  }
  
  .right{
    margin-left: auto;
    margin-right: 0; 
  }

  .date {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #979797;
  }

</style>
